---
layout: base
---

<style>
  h1 {
    font-size: 2rem;
  }
</style>

<article class="post">

  <div class="post-content">
    {{ content }}
  </div>
  
  {% assign all_tags = "" | split: "" %}
  {% for article in site.admin %}
    {% if article.tags %}
      {% assign all_tags = all_tags | concat: article.tags %}
    {% endif %}
  {% endfor %}
  {% assign unique_tags = all_tags | uniq | sort %}

  {%- if unique_tags.size > 0 -%}
    <hr style="margin:0;"/>
    <div class="site-tags" style="display: flex; padding: 6px; border-radius: 5px; flex-wrap: wrap;">
      <span style="font-weight:500;">Tags:&nbsp;</span>
      {% assign sortedtags = unique_tags %}
      {% for tag in sortedtags %}
        <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>{% if forloop.last != true %},&nbsp;{% endif %}
      {% endfor %}
    </div>
    <hr style="margin:0;"/><br/>
  {% endif %}

  {%- comment -%}
  Grab all docs in the _admin collection
  {%- endcomment -%}
  {% assign admin_docs = site.admin | where_exp:"item", "item.relative_path != '_admin/index.md'" | sort: "title" %}

  {%- comment -%}
  Split into those with an order defined and those without
  {%- endcomment -%}
  {% assign with_order    = admin_docs | where_exp: "d", "d.order" | sort: "order" %}
  {% assign without_order = admin_docs | where_exp: "d", "d.order == nil" | sort: "title" %}

  {% assign ordered = with_order | concat: without_order %}

  <ul class="post-list">
    {% for article in ordered %}
      <li>
        {% include post_list_item.html item=article %}
      </li>
    {% endfor %}
  </ul>

</article>

<script>
  let maxWidth = '{{ page.max-width }}';
</script>